html, body, form
{
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    font-family: "Segoe UI" , Frutiger, "Frutiger Linotype" , "Dejavu Sans" , "Helvetica Neue" , Arial, sans-serif;
    font-size: small; /*color: #696969;*/
}
* html html, * html body, * html form
{
    height: 100%; /*IE6 only*/
}
h1
{
    font-family: "Segoe UI" , Frutiger, "Frutiger Linotype" , "Dejavu Sans" , "Helvetica Neue" , Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
hr
{
    border: none;
    border-top: 1px solid #CCCCCC;
    height: 1px;
    margin-bottom: 5px;
}

/* ---------------------- Dolphin nav ---------------------- */
#dolphincontainer
{
    position: relative;
    height: 30px;
    width: 100%;
    font-family: "Segoe UI" , Frutiger, "Frutiger Linotype" , "Dejavu Sans" , "Helvetica Neue" , Arial, sans-serif;
    horiz-align: center;
}
#dolphinnav
{
    position: relative;
    height: 30px;
    font-size: 12pt; /*background: #00253C;*/
    background: #002136;
}
#dolphinnav, #dolphinnav ul, #dolphinnav li
{
    margin: 0;
    list-style: none;
}
#dolphinnav a
{
    text-decoration: none;
}
#dolphinnav > ul > li
{
    float: left;
    position: relative;
}
#dolphinnav > ul > li > a:hover
{
    color: #000;
}
#dolphinnav > ul > li > ul
{
    opacity: 0;
    visibility: hidden;
    display: none;
    background-color: #ededed;
    text-align: center;
    height: auto;
    box-shadow: 0 1px 2px #000000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    width: 130px;
}
#dolphinnav > ul > li:hover > ul
{
    position: absolute;
    display: block;
    border: none;
    visibility: visible;
    opacity: 1;
}
#dolphinnav > ul > li > ul > li
{
    display: block;
    content: '';
}
#dolphinnav > ul > li > ul > li > a
{
    font-size: 12pt;
    color: #FFF;
    display: block;
    text-shadow: none;
    background: #002136;
}
#dolphinnav > ul > li > ul > li > a:hover
{
    color: #ffd700;
}
#dolphinnav > ul ul > li
{
    position: relative;
}
#dolphinnav ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: auto;
    float: left;
}
#dolphinnav ul li a
{
    display: block;
    color: #FFF;
    text-decoration: none;
    margin-left: 20px;
    height: 30px;
}
#dolphinnav ul li a span
{
    padding: 4px 0 3px 0 !important;
    display: block;
}
#dolphinnav ul li a:hover
{
    color: #ffd700;
}
#dolphinnav ul li a:hover span
{
    display: block; /*width: auto;*/
    cursor: pointer;
}
#dolphinnav ul li a.current, #dolphinnav ul li a.current:hover
{
    color: #ffd700;
}
#dolphinnav ul li a.current span
{
    display: block; /*width: auto;     height: 30px;*/
}
.outlog
{
    padding: 4px 20px 0 0 !important;
    display: block;
    text-align: right;
}
ul#ulAdmin li:last-child
{
    float: right;
}
/*
ul#ulAdmin li:nth-last-child(2)
{
    padding-left: 590px;
}*/
/* ---------------------- END Dolphin nav ---------------------- */

.txtMultiline
{
    overflow: auto;
}

/*JAY - New CSS*/
a.linkBtn:link
{
    text-decoration: underline;
    display: inline-flex !important;
}
a.linkBtn:link, a.SelectedItem:visited
{
    color: #11486A;
}
a.linkBtn:hover
{
    color: #00253C;
}
a.linkBtn:active
{
    color: #00253C;
}

.RadSplitter_Default .rspPaneTabContainer, .RadSplitter_Default .rspSlideHeaderDockIcon, .RadSplitter_Default .rspSlideHeaderUndockIcon, .RadSplitter_Default .rspSlideHeaderCollapseIcon, .RadSplitter_Default .rspCollapseBarExpand, .RadSplitter_Default .rspCollapseBarCollapse, .RadSplitter_Default .rspCollapseBarHorizontalExpand, .RadSplitter_Default .rspCollapseBarHorizontalCollapse
{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.RadPicker
{
    display: inline-block !important;
}
* + html .RadPicker
{
    display: inline !important;
}
* html .RadPicker
{
    display: inline !important;
}

.RadCalendar
{
    margin-top: -100px !important;
}
.RadCalendar .rcTitlebar
{
    width: 100%; /*border: 1px solid #01847e;*/
    padding: 0;
    background: #01847e; /*color: rgb(0, 163, 156);*/
}
.RadCalendar .rcTitlebar table
{
    width: 100%;
    border-collapse: collapse;
    border: 0;
    font: 14px/27px "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
}
.RadCalendar .rcMain
{
    width: 100%; /*border: 1px solid orange;*/
    border-top: 0;
    padding: 0;
    background: #fff;
}
.RadCalendar .rcMainTable
{
    border-collapse: collapse;
    border: 0;
    width: 100%;
    margin: 0;
    font: 11px/15px "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
}
.RadCalendar .rcRow th, .RadCalendar .rcWeek th
{
    border: 0;
    padding: 0 6px;
    background: rgb(0, 163, 156);
    color: white;
    font-weight: normal;
    cursor: default;
}
.RadCalendar .rcWeek th
{
    padding-top: 4px;
    padding-bottom: 3px;
    font-size: 10px;
    text-align: right;
}
.RadCalendar .rcRow .rcHover
{
    /*border-color: green;*/
    background: #eeffee;
}
.RadCalendar .rcRow .rcSelected
{
    /*border-color: green;     background: green;*/
}
.RadCalendar .rcRow .rcSelected a
{
    /*color: #009900;*/
}
.RadCalendar .rcRow .rcToday
{
    /*border-color: green;*/
}
.RadCalendar .rcOtherMonth, .RadCalendar.rcOutOfRange
{
    background: #fafff8;
}
.RadCalendar .rcWeekend
{
    background: #f8fff8;
}
.RadCalendar .rcRow .rcDisabled
{
    color: #ccc;
}
.RadCalendarMonthView
{
    border-collapse: collapse; /*border: 1px solid green;*/
    background: #fff;
    font: 10px "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    color: #333;
}
.RadCalendarMonthView #rcMView_Feb, .RadCalendarMonthView #rcMView_Apr, .RadCalendarMonthView #rcMView_Jun, .RadCalendarMonthView #rcMView_Aug, .RadCalendarMonthView #rcMView_Oct, .RadCalendarMonthView #rcMView_Dec
{
    border-right: 1px solid green;
}
.RadCalendarMonthView .rcButtons
{
    border: 0;
    border-top: 1px solid #ddffcd;
    padding: 4px 6px;
    background: #ddffcd;
    text-align: center;
}
.RadCalendarMonthView input
{
    border: 1px solid; /*border-color: #3a9f09 #2b7507 #2b7507 #3a9f09;*/
    padding: 0; /*background: green;*/
    color: #ddffcd;
    font: 10px "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    cursor: pointer;
}

.btnSearchImage
{
    background: url(../Images/search_btn.png) no-repeat;
    background-position: 0;
    width: 29px;
    height: 29px;
}

.RadGrid1
{
    overflow: hidden;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #bfbfbf !important;
}
.RadGrid1 label
{
    color: #606060 !important;
}
.RadGrid1 a
{
    text-decoration: none !important;
    color: #0000CC !important;
}
.RadGrid1 a:hover
{
    color: #01847e !important;
}
.RadGrid1 .rgRow td
{
    border-style: none !important;
    padding: 5px 0 5px 6px !important;
}
.RadGrid1 .rgAltRow td
{
    border-style: none !important;
    padding: 5px 0 5px 6px !important;
}
.RadGrid1 .rgHoveredRow
{
    background: none !important;
    background-color: #25a0da !important;
}
.RadGrid1, .RadGrid1 .rgMasterTable, .RadGrid1 .rgDetailTable, .RadGrid1 .rgGroupPanel table, .RadGrid1 .rgCommandRow table, .RadGrid .rgEditForm table, .RadGrid1 .rgPager table, .GridToolTip
{
    font-size: 12px !important;
    font-family: "Segoe UI" , Frutiger, "Frutiger Linotype" , "Dejavu Sans" , "Helvetica Neue" , Arial, sans-serif !important; /*word-break: break-all !important;*/
}
.RadGrid1 .rgHeader
{
    background-color: #01847e !important;
    text-transform: none !important;
    border-left: 0 !important;
}
.RadGrid1 .rgHeader, .RadGrid1 .rgHeader a
{
    font-family: "Segoe UI" , Frutiger, "Frutiger Linotype" , "Dejavu Sans" , "Helvetica Neue" , Arial, sans-serif;
    font-size: 10pt !important;
    color: #FFF !important;
}
.RadGrid1 .rgCommandRow a
{
    font-size: 12px !important;
}
.RadGrid1 .rgCommandRow button
{
    z-index: 1;
}
.RadGrid1 .rgGroupHeader
{
    /*background: #01847e !important;*/
}
.RadGrid1 .rgGroupHeader td
{
    padding-left: 0 !important;
}
.RadGrid1 .rgGroupHeader td p
{
    color: #002136;
    font-weight: bold;
}
.RadGrid1 .rgMasterTable td.rgGroupCol
{
    /*border-color: #ffffff !important;     background: none !important;*/
}
/*
.RadGrid1 .rgExpand
{
    background: url('/Images/plus.png') center center no-repeat !important;
}
.RadGrid1 .rgCollapse
{
    background: url('/Images/minus.png') center center no-repeat !important;
}*/
.RadGrid1 .rgHeader .rgSortAsc, .RadGrid1 .rgHeader .rgSortDesc 
{
    background-position: 0 0 !important; 
}
.RadGrid_Metro .rgHeader .rgSortAsc, .RadGrid_Metro .rgHeader .rgSortDesc
{
    background-position: 0 0 !important; 
}
.RadGrid_Metro .rgEditRow td 
{
    border-style: none !important;
}
.RadGrid_Metro .rgHeader 
{
    border-style: none !important;
}
.RadGrid1 .rgEditRow td 
{
    border-style: none !important;
}
.RadListBox_Sitefinity .rlbHeader 
{
    background: #e4e4e4 !important;
    border: solid #C6C7D2 !important;
    border-width: 0 0 1px 0 !important; 
}
.gridheader
{
    background: #01847e !important;
    text-transform: none !important;
    font-family: "Segoe UI" , Frutiger, "Frutiger Linotype" , "Dejavu Sans" , "Helvetica Neue" , Arial, sans-serif;
    font-size: 10pt !important;
    color: #FFF !important;
}

.calendarPane
{
    position: relative;
    top: -105px;
}

.tableProfile
{
    width: 100%;
    border-collapse: collapse;
}
.tableProfile td
{
    border: none;
    padding: 3px 5px 3px 10px;
}
.tableProfile tr:nth-child(odd) td
{
    border-bottom: solid 1px #E4E4E4;
}
.tableProfile tr:nth-child(even) td
{
    border-bottom: solid 1px #E4E4E4;
}
.tableProfile tr:last-child td
{
    border-bottom: none;
}
.labelProf
{
    width: 350px !important;
    padding-bottom: 5px;
    font-weight: Bold;
    color: black !important;
}
.labelMyTeam
{
    width: 50% !important;
    padding-bottom: 5px;
    color: #1090c3 !important;
    text-align: right !important;
}
.tabledefault
{
    width: 100%;
    border-collapse: collapse;
}
.tabledefault td
{
    padding: 4px 0 4px 0;
}
.tblLabel
{
    padding: 0 10px 0 10px !important;
    text-align: right;
    width: 200px;
    vert-align: middle;
    background: #01847e;
    color: #FFF;
}
.tblfield
{
    padding-left: 10px !important;
    word-wrap: break-word;
    max-width: 300px;
}

.radio label
{
    color: Black !important;
}

ul label
{
    color: black !important;
}

/* -------------------Featured Courses-------------------- */
.preview
{
    overflow: hidden;
    background-color: white !important;
    padding-top: 10px;
    width: 100%;
    height: 100%;
}
.exampleWrapper
{
    horiz-align: center;
    margin-left: 20px;
}
.buttonContainer
{
    float: left;
    padding: 0 5px;
    position: relative;
}
.button
{
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
}
.buttonNext
{
    background-image: url(../Images/Right.png);
}
.buttonPrev
{
    background-image: url(../Images/Left.png);
}
.button.rbDisabled
{
    background-image: none;
}
.multipage
{
    border-radius: 10px;
    float: left;
    width: 950px;
    height: 500px;
    overflow: hidden;
    border: solid 1px gray;
}
.RadMenu .rmLeftImage
{
    margin: 0 1px -1px -6px !important;
    padding-right: 10px !important;
}
.window
{
    overflow: hidden;
}

td[id*='oReportCell']
{
    width: 100% !important;
}

.rptviewer
{
    overflow: scroll;
}

#ctl00_ContentPlaceHolderContent_rvTRA
{
    overflow: hidden !important;
}

#ctl00_ContentPlaceHolderContent_rvTabular
{
    overflow: hidden !important;
}

/*.gridPreview .rgExpand, .gridPreview .rgCollapse
{
    display: none !important;
}*/

.paramLabel
{
    padding: 0 5px 0 5px !important;
}
.paramField
{
    padding: 0 5px 0 5px !important;
}


/*MATT NEW*/

.RadWindow_Sitefinity
{
    font-family: "Segoe UI" , Frutiger, "Frutiger Linotype" , "Dejavu Sans" , "Helvetica Neue" , Arial, sans-serif; /*box-shadow: 0 1px 3px #b2b2b2;*/
    -moz-box-shadow: 2px 2px 3px #E8EAED !important;
    -webkit-box-shadow: 2px 2px 3px #E8EAED !important;
    box-shadow: 2px 2px 3px #E8EAED !important;
    border: 1px solid #cccccc;
}

.RadWindow_Sitefinity a.rwIcon
{
    background-image: none !important;
}

.rwTitlebar em
{
    background-color: #01847e !important;
    text-transform: none !important;
    font-family: "Segoe UI" , Frutiger, "Frutiger Linotype" , "Dejavu Sans" , "Helvetica Neue" , Arial, sans-serif !important;
    font-size: 10pt !important;
    color: #FFF !important;
}

.RadWindow_Sitefinity tr.rwTitleRow em
{
    /*margin-left: 2%;     margin-top: 0.8%;*/
    padding: 4px 0 0 10px !important;
}

.RadWindow_Sitefinity .rwCorner .rwTopLeft, .RadWindow_Sitefinity .rwCorner .rwTopRight, .RadWindow_Sitefinity .rwIcon, .RadWindow_Sitefinity table .rwTopLeft, .RadWindow_Sitefinity table .rwTopRight, .RadWindow_Sitefinity table .rwFooterLeft, .RadWindow_Sitefinity table .rwFooterRight, .RadWindow_Sitefinity table .rwFooterCenter, .RadWindow_Sitefinity table .rwBodyLeft, .RadWindow_Sitefinity table .rwBodyRight, .RadWindow_Sitefinity table .rwTopResize, .RadWindow_Sitefinity table .rwStatusbar, .RadWindow_Sitefinity table .rwStatusbar .rwLoading
{
    display: none !important;
}

.RadWindow_Sitefinity .rwTitleRow .rwCorner .rwTopLeft
{
    display: none !important;
}

.RadWindow_Sitefinity .rwTitleRow td:first-child + td
{
    background-color: #01847e; /*border-bottom: 1px solid #828282;*/
}

.RadWindow_Sitefinity .RadWindow .rwTitlebar .rwTitlebarControls td
{
    background-color: #01847e !important;
}

.RadWindow_Sitefinity .rwTitleRow td:first-child + td table td:first-child + td + td
{
    background-color: #01847e !important;
}

/*.RadWindow_Sitefinity .rwWindowContent #ctl00_ContentPlaceHolderContent_windowEnrolCourse_C*/
.RadWindow_Sitefinity .rwWindowContent > div:nth-of-type(1)
{
    /*width: 99.83% !important;     word-wrap: break-word;*/
    overflow: auto !important;
    width: 100% !important;
    height: 100% !important;
}

/*.gridAudience .rgEditForm
{
    height: auto !important;
}

.gridAudience .rgEditForm > .rgHeader + div
{
    height: auto !important;
}*/

/* Button with rounded corners and shadows */

.btnRounded
{
    border: 1px solid #15aeec;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 8px;
    font-family: "Segoe UI" , Frutiger, "Frutiger Linotype" , "Dejavu Sans" , "Helvetica Neue" , Arial, sans-serif;
    padding: 1px 5px 1px 5px; /*text-decoration: none;*/
    display: inline-block; /*text-shadow: -1px -1px 0 rgba(0,0,0,0.3);     font-weight: bold;*/
    color: #FFFFFF !important;
    background-color: #49c0f0;
    background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);
}

.btnRounded:hover
{
    border: 1px solid #1090c3;
    background-color: #1ab0ec;
    background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);
}

.RadNotification_Silk .rnTitleBar
{
    background-image: none !important;
    background-color: #01847e;
}

.RadNotification_Silk .rnMenuIcon
{
    display: none;
}

.RadNotification_Silk .rnTitleBarTitle
{
    color: white !important;
}

.RadNotification_Silk
{
    height: 190px !important;
}

.RadNotification_Sitefinity
{
    border-style: none !important;
    background-color: #004946 !important;
}

.RadNotification_Sitefinity .rnTitleBar
{
    background-image: none !important;
    background-color: #01847e;
}

.RadNotification_Sitefinity .rnMenuIcon
{
    display: none;
}

.RadNotification_Sitefinity .rnTitleBarTitle
{
    color: white !important;
}

.RadNotification_Sitefinity .rnContentWrapper
{
    border-style: none !important;
}

.RadNotification_Sitefinity.rnRoundedCorners
{
    -webkit-border-radius: 10px 10px 0 0 !important;
    -moz-border-radius: 10px 10px 0 0 !important;
    border-radius: 10px 10px 0 0 !important;
}

.RadListBox_Sitefinity .rlbItem
{
    display: -webkit-box;
}

.RadWindow .rwWindowContent .radconfirm, .RadWindow .rwWindowContent .radalert
{
    background-position: top left !important;
}

.RadWindow .rwDialogText
{
    font-size: 10pt !important;
}

/*added by ren*/
.RadListBox .rlbCheck
{
    float: left !important;
}

.RadGrid1 .rgHeader.RadWindowGrid
{
    background: #002136 !important;
}

.radiolist
{
    display: flex;
}

/*ListBox CheckAll*/
.lbChk
{
    margin-left: .9%;
}

/*Radwindow Radgrid*/
.RadGrid1 .rgHeader.RadWindowGrid
{
    background: #002136 !important;
}
.rlbTemplate 
{
    width: 100%;
}
.divReportParams 
{
    /*border: 1px #333333 solid; */
}

