.RadGrid2
{
    overflow: hidden;
    border-style: hidden;
}
.RadGrid2 label
{
    color: #606060 !important;
}
.RadGrid2 a
{
    text-decoration: none !important;
    color: #0000CC !important;
}
.RadGrid2 a:hover
{
    color: #01847e !important;
}
.RadGrid2 table.rgMasterTable tr .rgGroupCol, .RadGrid2 table.rgMasterTable tr .rgExpandCol
{
    border-width: 0 0 1px 0 !important;
    border-color: #bfbfbf !important;
}
.RadGrid2 .rgMasterTable td.rgGroupCol, .RadGrid2 .rgMasterTable td.rgExpandCol
{
    background: none !important;
}
.RadGrid2 .rgMasterTable td.rgGroupCol:hover, .RadGrid2 .rgMasterTable td.rgExpandCol:hover
{
    background: none !important;
    background-color: #ffffff !important;
}
.RadGrid2 .rgRow td
{
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
    border-color: #bfbfbf !important;
}
.RadGrid2 .rgAltRow td
{
    /*border-style: solid !important;*/
    border-width: 0 0 1px 0 !important;
    border-color: #bfbfbf !important;
}
.RadGrid2 input.rgExpand
{
    background: url(../Images/expand.png) center center no-repeat;
}
.RadGrid2 input.rgCollapse
{
    background: url(../Images/collapse.png) center center no-repeat;
}
.RadGrid2 .rgHoveredRow
{
    background: none !important;
    background-color: #002136 !important;
    background-image: none !important;
    color: #ffffff !important;
    font-size: 14pt !important;
}
.RadGrid2, .RadGrid2 .rgMasterTable, .RadGrid2 .rgDetailTable, .RadGrid2 .rgGroupPanel table, .RadGrid2 .rgCommandRow table, .RadGrid .rgEditForm table, .RadGrid2 .rgPager table, .GridToolTip
{
    font-size: 12px !important;
    font-family: "Segoe UI" , Frutiger, "Frutiger Linotype" , "Dejavu Sans" , "Helvetica Neue" , Arial, sans-serif !important;
}
.RadGrid2 .rgDetailTable
{
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #bfbfbf !important;
}
.RadGrid2 .rgHeader
{
    background-color: #01847e !important;
    text-transform: none !important;
    border-left: 0 !important;
    padding: 5px 0 7px 0 !important;
}
.RadGrid2 .rgHeader, .RadGrid2 .rgHeader a
{
    font-family: "Segoe UI" , Frutiger, "Frutiger Linotype" , "Dejavu Sans" , "Helvetica Neue" , Arial, sans-serif;
    font-size: 10pt !important;
    color: #FFF !important;
}
.RadGrid2 .rgCommandRow a
{
    font-size: 12px !important;
}
.RadGrid2 .rgCommandRow button
{
    z-index: 1;
}
.RadGrid2 .rgGroupHeader td
{
    padding-left: 0 !important;
}
.RadGrid2 .rgGroupHeader td p
{
    color: #002136;
    font-weight: bold;
}
.RadGrid2 .rgHeader .rgSortAsc, .RadGrid2 .rgHeader .rgSortDesc
{
    background-position: 0 0 !important;
}

/*TEST JAY*/
.cimName_AsHeader
{
    height: 22px;
    font-size: 12pt;
    display: block;
    line-height: 20px;
}
.cimName_AsHeader:hover, .cimName_AsHeader .rgExpandCol:hover
{
    height: 22px;
    font-size: 14pt;
    background: #002136;
    color: #ffffff;
    display: block;
    line-height: 19px;
    cursor: pointer;
}

.RadGrid2_detailtable label
{
    color: #606060 !important;
}
.RadGrid2_detailtable .rgRow td
{
    border-style: none !important;
    padding: 5px 0 5px 6px !important;
}
.RadGrid2_detailtable .rgAltRow td
{
    border-style: none !important;
    padding: 5px 0 5px 6px !important;
}
.RadGrid2_detailtable .rgHoveredRow, .RadGrid2_detailtable .rgHoveredRow link, .RadGrid2_detailtable .rgHoveredRow a
{
    background: none !important; /*background-color: #BFBFBF !important;*/
    background-color: #25a0da !important;
}
.RadGrid2_detailtable .rgHeader, .RadGrid2_detailtable .rgHeader a
{
    color: #FFF !important;
}
.RadGrid2_detailtable .rgHeader .rgSortAsc, .RadGrid2_detailtable .rgHeader .rgSortDesc
{
    background-position: 0 0 !important;
}
.gridHeaderWindow
{
    font-size: 10pt;
    background: #002136 !important;
    border-left: 0 !important;
}

/*NEW SEARCH BUTTON*/
#search-text-input
{
    border-top: thin solid #e5e5e5;
    border-right: thin solid #e5e5e5;
    border-bottom: 0;
    border-left: thin solid #e5e5e5;
    box-shadow: 0px 1px 1px 1px #e5e5e5;
    float: left;
    height: 17px; /*margin: .8em 0 0 .5em;*/
    outline: 0;
    padding: .4em 0 .4em .6em;
    width: 130px;
    color: #808080;
}

#button-holder
{
    background-color: #f1f1f1;
    border-top: thin solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px #e5e5e5;
    cursor: pointer;
    float: left;
    height: 27.7px; /*margin: 11px 0 0 0;*/
    text-align: center;
    width: 40px;
}

#button-holder img
{
    margin: 4px;
    width: 20px;
}

.button-control
{
    padding-top: 1.5px;
}

/*PANEL BAR CSS*/
.RadPanelBarPackage .rpItem
{
    margin-bottom: 5px !important;
}
div.RadPanelBarPackage .rpText
{
    padding: 0 0 0 20px !important;
}
div.RadPanelBarPackage ul.rpRootGroup .rpFocused, div.RadPanelBarPackage .rpRootGroup a.rpFocused:hover, div.RadPanelBarPackage ul.rpRootGroup .rpSelected, div.RadPanelBarPackage .rpRootGroup a.rpSelected:hover
{
    border: 0;
    background-color: #002136 !important;
    border-radius: 20px;
    color: #FFF !important;
    border-style: none !important;
    border-width: 0px !important;
}
div.RadPanelBarPackage a.rpLink, div.RadPanelBarPackage ul.rpGroup .rpLink
{
    border: 0;
    background-color: #002136 !important;
    border-radius: 20px;
    color: #FFF !important;
    border-style: none !important;
    border-width: 0px !important;
}
div.RadPanelBarPackage a.rpLink:hover, div.RadPanelBarPackage ul.rpGroup .rpLink:hover
{
    border: 0;
    background: none !important;
    background-color: #002136 !important;
    border-radius: 20px;
    color: #FFF !important;
    border-style: none !important;
    border-width: 0px !important;
}
div.RadPanelBarPackage .rpExpandable span.rpExpandHandle, div.RadPanelBarPackage .rpExpanded span.rpExpandHandle
{
    margin: 3px 15px 0 4px !important;
}
div.RadPanelBarPackage a.rpLink:hover .rpOut
{
    border: 0;
    background-color: #002136 !important;
    border-radius: 20px;
    color: #FFF !important;
    border-style: none !important;
    border-width: 0px !important;
}
.RadPanelBarPackage .rpSlide
{
    padding: 10px;
    border: solid #002136;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 20px 20px;
    margin: -15px 0 0 0;
}

/*GRID PACKAGE CSS*/
.RadGridPackage
{
    overflow: hidden;
}
.RadGridPackage .rgRow td, .RadGridPackage .rgAltRow td
{
    border-style: none !important;
}

.RadGridPackage input.rgExpand
{
    background: url(../Images/expand.png) center center no-repeat;
}
.RadGridPackage input.rgCollapse
{
    background: url(../Images/collapse.png) center center no-repeat;
}
.RadGridPackage .rgRow, .RadGridPackage .rgAltRow
{
    height: 40px !important;
    background-color: #F1F1F1 !important;
}
.RadGridPackage .rgSelectedRow
{
    color: black !important;
}
.RadGridPackage .rgHoveredRow
{
    background: none !important; /*background-color: #002136 !important;*/
    background-image: none !important; /*color: #ffffff !important;*/
    font-size: 14pt !important;
}
.RadGridPackage .rgMasterTable td.rgGroupCol
{
    background: none !important;
}
/*.RadGridPackage table.rgMasterTable tr .rgGroupCol
{
    border: solid white;
    border-width: 0 0 2px 0;
}*/
.RadGridPackage .rgGroupHeader
{
    height: 22px !important; /*background-color: #01847e !important;*/
    background: none !important;
    color: black !important;
}
.RadGridPackage table.rgMasterTable tr .rgGroupCol
{
    border: solid #606060;
    border-width: 1px 0 1px 1px;
    padding: 0 0 0 10px !important;
}
.RadGridPackage .rgGroupHeader td
{
    border: solid #606060;
    border-width: 1px 1px 1px 0;
    padding: 0 0 3px 0 !important;
}

/*DOCK ZONE PANEL*/
.RadDockZone_Sitefinity
{
    border-style: none !important;
}
